<li>
  <h3><%= concepto.nombre %></h3>
  <%= link_to "Editar explicacion", edit_explicacion_path(concepto.id) %> |
  <%= link_to "Editar Evaluación", edit_quiz_path(concepto.id) %>
  <% if concepto.quiz && concepto.quiz.ejercicio %>
    | <%= link_to "Editar Práctica", edit_quiz_ejercicio_path(concepto.quiz, id: concepto.quiz.ejercicio) %>
  <% elsif concepto.quiz %>
    | <%= link_to "Crear práctica", new_quiz_ejercicio_path(concepto.quiz.id) %>
  <% end %>
</li>
