<h1><%= @concepto.nombre %> </h1>

<p>Entendió el concepto?</p>

<% conocimiento = Conocimiento.find_by concepto_id: @concepto.id %>

<%= form_for conocimiento, url: {action: "update"} do |f| %>
  <%= radio_button(:conocido, true) %>
  <%= f.submit "Create" %>
<% end %>
