<h1>Editar contenidos</h1>
<h2>Haga clic sobre el nombre del concepto para editar los contenidos relacionados</h2>
<%= will_paginate %>
  <ul class="conceptos">
    <%= render @conceptos %>
  </ul>
<%= will_paginate %>
