<div class="center jumbotron">
  <h1><i class="fa fa-code"></i> ProgTutor</h1>
  <h2>
  	Un tutor inteligente para la enseñanza de Programación
  </h2>
  <%= link_to '<i class="fa fa-pencil-square-o"></i> Regístrese ahora'.html_safe, registro_path, class: "btn btn-lg btn-primary" %>
</div>
