<h1>Inicio de sesión</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Recordarme</span>
      <% end %>

      <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>
    <% end %>

    <p>¿Nuevo usuario? <%= link_to "Registro de usuario", registro_path %></p>
  </div>
</div>