<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.rol_id == 1 && !current_user?(user) %>
    | <%= link_to "Eliminar", user, method: :delete,
                                  data: { confirm: "¿Está seguro?" } %>
  <% end %>
</li>