<h1>Registro de usuario</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Repetir contraseña" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Crear mi cuenta", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>