<h1>Perfil del usuario</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h2>El usuario está inscrito en los cursos: </h2>
  </div>
</div>