<div class="row">
  <div class="col-md-11">
    <%= f.label :enunciado, "Enunciado" %>
    <%= f.text_field :enunciado, class: 'form-control' %>
  </div>
  <div class="col-md-1">
    <%= f.label :puntuacion, "Puntuacion" %>
    <%= f.text_field :puntuacion, class: 'form-control' %>
  </div>
</div>
<%= f.label :codigo_evaluador, "Código para realizar la evaluación" %>
<%= f.text_area :codigo_evaluador, cols: "30", rows: "20", id: 'yourcode', class: 'form-control' %>
<%= f.submit 'Enviar', class: 'btn btn-primary' %>
