<h2>Editar ejercicio para <%= @quiz.concepto.nombre %> </h2>
<%= form_for :ejercicio, url: quiz_ejercicio_path(@quiz), html: {id: 'target'} do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
