<% if @concepto.comentarios.any? %>
  <% @concepto.comentarios.each do |comentario| %><br>
    <%= gravatar_for comentario.user %>
    <%= "#{comentario.user.name}, hace #{time_ago_in_words(comentario.created_at)}:" %><br>
    <%= comentario.mensaje %><br><br>
  <% end %>
<% else %>
  <p>No existen comentarios sobre el tema.</p>
<% end %>
<br>
<%= form_for [@concepto, @comentario] do |f| %>
  <div class="row">
    <%= f.text_area :mensaje, "rows" => "3", class: "comment-box", "placeholder" => "Escriba su comentario" %>
  </div>
  <div class="row">
    <%= f.submit "Enviar", class: "btn btn-primary col-md-3" %>
  </div>
<% end %>
