<%= javascript_include_tag 'skulpt.min' %>
<%= javascript_include_tag 'skulpt-stdlib' %>
<%= javascript_include_tag 'skulpt-functions' %>
<p><%= @ejercicio.enunciado %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form id="ejercicio" data-eval-code="<%= @ejercicio.codigo_evaluador %>">
        <textarea id="yourcode" cols="40" rows="10"></textarea><br>
        <button type="button" onclick="window.runit()" class="btn btn-primary btn-sm pull-right">Ejecutar</button>
      </form>
    </div>
    <div class="col-md-6">
      <h5>Resultado:</h5>
      <pre id="output" ></pre>
    </div>
  </div>
</div>
