<%= form_for(@quiz, url: evaluar_quiz_path(@quiz), html: { :class => 'form-horizontal' }) do |qf| %>
  <%= qf.fields_for :preguntas do |pf| %>
  <div class="well">
    <%= content_tag :h4, "#{pf.index+1}. " + pf.object.pregunta %><br>
    <!-- Shitty hidden field hack -->
    <%= pf.hidden_field :pregunta, value: pf.object.pregunta %>
    <% tipo_pregunta_id = pf.object.tipo_pregunta_id %>
    <% if tipo_pregunta_id == TipoPregunta::SIMPLE %>
      <% pf.object.respuestas.each do |respuesta| %>
      <div class="row">
      <div class="col-md-1">
        <%= pf.radio_button :seleccionada, respuesta.id %>
      </div>
      <div class="col-md-11">
        <%= respuesta.respuesta %>
      </div>
    </div>
    <br>
      <% end %>
    <% elsif tipo_pregunta_id == TipoPregunta::MULTIPLE %>
      <%= pf.fields_for :respuestas do |rf| %>
        <!-- Shitty hidden field hack -->
        <%= rf.hidden_field :respuesta, value: rf.object.respuesta %>
        <div class="row">
          <div class="col-md-1">
        <%= rf.check_box :seleccionada %>
      </div>
      <div class="col-md-11">
        <%= rf.object.respuesta %>
      </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %><br>
  <%= qf.submit "Enviar quiz", class: "btn btn-primary col-md-3" %>
<% end %>
