<%= render 'layouts/banner' %>
<% red_id = @red.id %>
<% @progreso.each do |progreso| %>
  <%= mostrar_progreso_nivel(progreso[:nivel], progreso[:progreso]) %>
  <% conocimientos_count = progreso[:conocimientos].count %>
  <% conocimientos_count <= 3 ? x = 4 : x = 3 %>
  <div class="row">
    <% progreso[:conocimientos].each do |conocimiento| %>
      <%= content_tag :div, class: "col-md-#{x}" do -%>
        <%= conocimiento_tag(conocimiento, red_id) %>
        <%= content_tag(:span, conocimiento.concepto.nombre, class: 'centered-text center-block nombre-concepto') + tag(:br) %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= render 'layouts/modal' %>
