<% ejercicio = @concepto.quiz && @concepto.quiz.ejercicio %>
<h1><%= @concepto.nombre %></h1>
<ul class="nav nav-pills">
  <li class="active"><a href="#teoria" data-toggle="tab" aria-expanded="true"><i class="fa fa-book"></i> Teoría</a></li>
  <li class="<%= 'disabled' unless ejercicio%>"><a href="#practica" <%= 'data-toggle="tab"'.html_safe if ejercicio %> aria-expanded="true">Práctica</a></li>
  <li><a href="#examen" data-toggle="tab" aria-expanded="true">Examen</a></li>
  <li><a href="#comentarios" data-toggle="tab" aria-expanded="true">Comentarios</a></li> 
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="teoria"><br>
    <div style="padding-left: 10px; padding-right: 10px;">
      <% if @concepto.explicacion %>
        <%= @concepto.explicacion.explicacion.html_safe %>
      <% else %>
        <p>La explicación no existe.</p>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="practica"><br />
    <h3>Ejercicio en cónsola interactiva</h3>
    <% if ejercicio %>
      <%= render partial: 'ejercicio', locals: { ejercicio: @ejercicio = @concepto.quiz.ejercicio } %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="examen"><br />
    <h3>Examen</h3>
    <% if @concepto.quiz %>
      <%= render partial: 'quiz', locals: { quiz: @quiz = @concepto.quiz } %>
    <% else %>
      <p>El examen no existe</p>
    <% end %>
    <br />
  </div>
  <div class="tab-pane fade" id="comentarios">
    <h3>Comentarios</h3>
    <%= render partial: 'comentarios', locals: { concepto: @concepto, comentario: @comentario } %>
  </div>
</div>
