<%= form_for(@explicacion) do |f| %>
    <div class="row">
      <%= f.text_area :explicacion, "rows" => "10", class: "markitup" %>
    </div>
    <div class="row">
      <%= f.submit "Guardar cambios", class: "btn btn-primary col-md-3" %>
    </div>
<% end %>