<div class="well">  
  <%= form_for(Pregunta.new) do |f| %>

    <div class="row">
      <div class="col-md-12">
        <%= f.label "Pregunta: " %>
        <%= f.text_field :pregunta %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.label "Tipo de pregunta: " %>
        <%= f.select :tipo_pregunta_id, @tipos_preguntas_array %>
      </div>
      <div class="col-md-2">
        <%= f.label "Puntuación: " %>
        <%= f.text_field :puntuacion %>
      </div>
    </div>

    <%= f.hidden_field :quiz_id, :value => @quiz.id %>

    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Guardar pregunta", class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>
</div>