<%= form_for(@quiz) do |f| %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label "Nombre del quiz: " %>
      <%= f.text_field :nombre %>
    </div>
  </div>

  <%= f.fields_for :preguntas do | preguntas_form | %>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <%= preguntas_form.label "Pregunta #{preguntas_form.index+1}: " %>
        <%= preguntas_form.text_field :pregunta %>
      </div>
      <div class="col-md-3">
        <%= preguntas_form.label "Tipo de pregunta: " %>
        <%= preguntas_form.select :tipo_pregunta_id, @tipos_preguntas_array, :selected => preguntas_form.object.tipo_pregunta_id %>
      </div>
      <div class="col-md-1">
        <%= preguntas_form.label "Puntuación: " %>
        <%= preguntas_form.text_field :puntuacion %>
      </div>
    </div>

    <%= preguntas_form.fields_for :respuestas do | respuestas_form | %>
      <div class="row">
        <div class="col-md-6">
          <%= respuestas_form.label "Respuesta: " %>
          <%= respuestas_form.text_field :respuesta %>
          </div>
          <div class="col-md-1">
            <%= "Correcta" %>
            <%= respuestas_form.radio_button(:correcta, true) %>
          </div>
          <div class="col-md-1">
            <%= "Incorrecta" %>
            <%= respuestas_form.radio_button(:correcta, false) %>
          </div>
          <div class="col-md-2">
            <%= link_to "Eliminar respuesta", respuestas_form.object, method: :delete,
                                  data: { confirm: "¿Está seguro?" } %>
          </div>
        </div>
      <% end %>

      <%= content_tag :div, id: "pregunta#{@i}" do -%>
      <% end -%>


      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Agregar nueva respuesta', agregar_respuesta_path(:pregunta => { :pregunta_id => preguntas_form.object.id, :i => @i }), remote: true  %>
        </div>
      </div>
    </div>
    <% @i += 1 %>
    <% end %>

      <div id="quiz">
      </div>

    <%= link_to 'Agregar pregunta', agregar_pregunta_path(:quiz => { :quiz_id => f.object.id }), remote: true %>
    <br><br>
    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
      </div>
    </div>
<% end %>