<div class="row">
<%= form_for(Respuesta.new) do |f| %>
  <div class="col-md-4">
   <%= f.label "Respuesta" %>
   <%= f.text_field :respuesta %>
   <%= f.hidden_field :pregunta_id, :value => @pregunta.id %>
 </div>
 <div class="col-md-1">
    <%= "Correcta" %>
    <%= f.radio_button(:correcta, true) %>
  </div>
  <div class="col-md-1">
    <%= "Incorrecta" %>
    <%= f.radio_button(:correcta, false) %>
  </div>
 <div class="col-md-2">
   <%= f.submit "Guardar", class: "btn btn-primary" %>
 </div>
<% end %>
</div>