<h1>Resultados del examen de <%= @quiz.concepto.nombre %></h1>
<%= content_tag :p, "Nota: #{@resultados[:nota]} (Mínima requerida: #{@resultados[:nota_minima]})" %>
<p>Comentario: <%= @resultados[:comentario] %></p>
<%= link_to 'Volver al concepto', concepto_path(id: @quiz.concepto_id), class: 'btn btn-primary' %>
