%h1 Lecciones personalizadas
- if @lecciones.empty?
  %h2 No se encontraron lecciones personalizadas
- else
  - @lecciones.each do |leccion|
    %h2
      = link_to "Lección para #{leccion.concepto.nombre}", leccion_path(leccion.id)
    %span.centered-text.center-block #{leccion.progreso}% completada
