<%= content_tag(:h1, "Lección para " + @leccion.concepto.nombre) %>
<%= content_tag(:h2, "Contenidos:") %>
<div class="row">
<% @estado_conocimientos.each do |conocimiento| %>
<div class="col-xs-6 col-sm-3">
  <%= conocimiento_tag(conocimiento, @red.id) %>
  <%= content_tag(:span, conocimiento.concepto.nombre, class: 'centered-text center-block') + tag(:br) %>
</div>
<% end %>
</div>
