// Place all the styles related to the conocimientos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conocimiento-aprendido {
  color: #00A170;
}

.conocimiento-en-proceso {
  color: grey
}

.conocimiento-desbloqueado {
  color: #FFC600
}

.conocimiento-bloqueado {
  color: grey
}

.conocimiento-procesando {
  color: grey
}

.conocimiento-a-repasar {
  color: #FF8F00
}

.conocimiento-fallo {
  color: #E01B1A
}

.contenedor-progreso {
  width: 300px
}