- anterior = @parte.anterior
- siguiente = @parte.siguiente
%div.clearfix
  - if anterior
    = link_to leccion_parte_path(@leccion, anterior), class: "btn btn-primary pull-left" do
      %i.fa.fa-arrow-left
      = anterior.concepto.nombre
  - if siguiente
    = link_to leccion_parte_path(@leccion, siguiente), class: "btn btn-primary pull-right" do
      = siguiente.concepto.nombre
      %i.fa.fa-arrow-right