%h1
  = link_to "Leccion para #{@leccion.concepto.nombre}", leccion_path(@leccion)
%h2 Parte #{@parte.numero}: #{@parte.concepto.nombre}
= render partial: "pagination", locals: {leccion: @leccion, parte: @parte}
%p Render concepto como partial
= render partial: "pagination", locals: {leccion: @leccion, parte: @parte}
