<footer class="footer">
  <small>
    <%= link_to '<i class="fa fa-code"></i> ProgTutor'.html_safe, root_path %>, un Tutor Inteligente para la enseñanza de Programación,
    por <%= link_to "Maria Mata", autor_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   acercade_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><%= link_to "Enlaces", enlaces_path %></li>
    </ul>
  </nav>
</footer>