<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to '<i class="fa fa-code"></i> ProgTutor'.html_safe, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '<i class="fa fa-question-circle"></i> Ayuda'.html_safe, ayuda_path %></li>
        <% if logged_in? %>
          <% if current_user.rol_id == 2 %>
            <li><%= link_to '<i class="fa fa-pencil-square-o"></i> Contenidos'.html_safe, contenidos_path %></li>
          <% end %>
          <li><%= link_to '<i class="fa fa-book"></i> Lecciones'.html_safe, lecciones_path %></li>
          <li><%= link_to '<i class="fa fa-users"></i> Comunidad'.html_safe, users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 
              Usuario <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Preferencias", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Cerrar sesión", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to '<i class="fa fa-sign-in"></i> Iniciar sesión'.html_safe, login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>