.modal#leccion-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} x
        %h4.modal-title Aprender concepto
      .modal-body
        %p Antes de aprender este concepto debe aprender sus pre-requisitos
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Aprender después
        %a.btn.btn-primary Ver lección personalizada
